<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <link rel="stylesheet" href="./style.css" />
  <body>
    <%- include('./header') %>
    <%- body %> 
    <%- include('./footer') %>
  </body>
</html>
