<!DOCTYPE html>
<html lang="en">
<head>
    <title>Codial | Login</title>
</head>
<body>
    <h1>Codial | Login </h1>

    <form action="/user/login" method="post">
        <input type="email" name="email" placeholder="email" required>
        <input type="password" name="password" placeholder="password" required>
        <input type="submit" value="login">
    </form>
</body>
</html>