<form action="/signup" method="post" class="user-form">
    <input type="text" name="name" placeholder="enter name" required />
    <input type="email" name="email" placeholder="enter email" required />
    <input type="password" name="password" placeholder="enter password" required />
    <input type="submit" value="Create" class="submit-btn" />
</form>