<link rel="stylesheet" href="/css/user_profile.css">

<h1>Profile</h1>


<% if (user.id==profile_user.id) { %>
    <!-- if user matches show the form  -->
    <form action="/users/update" enctype="multipart/form-data" method="post">
        <input type="text" name="name" placeholder="Your name" value="<%= user.name %>" required>
        <input type="email" name="email" placeholder="Your email" value="<%= user.email %>" required>
        <input type="file" name="avatar" placeholder="profile picture">
        <input type="submit" value="Update">
    </form>
<% } else { %>
        <!-- else show only profile info -->
        <p>Name: <%= profile_user.name %>
        </p>
        <p>Email: <%= profile_user.email %>
        </p>

<% } %>