.user-form{
    display: flex;
    min-width: 150px;
    max-width: 300px;
    width: 60vw;
    padding: 4px;
    margin: auto;
    flex-direction: column;
    background: lightgoldenrodyellow;
}

.user-form > * {
    padding: 4px;
    margin: 8px;
    border: 1px solid black;
    border-radius: 5px;
}

.submit-btn{
    color: white;
    background: green;
}